.footer {
    background-position: right bottom, left top; 
    background-size: cover; 
    /* background-size: 100%; */
    /* background-repeat: no-repeat; */
    /* background-image: url(https://green-images.s3.amazonaws.com/Image+URL.jpg) ;    */
    background-color: black;
    z-index: 1000;
    height: 5rem;
    display:flex;
    justify-content: flex-end;
}